@import "/css/common/widgets.css";

.root { -fx-background-color: -fx-bg-deep; }

.server-row {
    -fx-spacing: 10;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 5 10 5 10;
    -fx-background-color: -fx-bg-shallow;
    -fx-border-color: -fx-line-color;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.server-row:hover {
    -fx-background-color: derive(-fx-bg-shallow, 10%);
    -fx-border-color: derive(-fx-line-color, -20%);
}
.server-name {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
#serverListContainer {
    -fx-background-color: transparent;
}
