@import "/css/common/widgets.css";

.root {
    -fx-background-color: -fx-bg-deep;
}

.button.equipment-slot-button {
    -fx-background-color: -fx-bg-shallow;

    /* 上 右 下 左 */
    -fx-border-color: transparent -fx-line-color transparent transparent;
    -fx-border-width: 0 1px 0 0;

    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

/* フォーカス中、または選択中 */
.button.equipment-slot-button:focused,
.button.equipment-slot-button:hover,
.button.equipment-slot-button.selected-slot-button {
    -fx-background-color: -fx-bg-deep;
    -fx-border-color: -fx-bg-deep;
    -fx-border-width: 0;
}

.equipment-slot-separator {
    -fx-background-color: -fx-line-color;
}