@import "/css/common/widgets.css";

.root {
    -fx-background-color: -fx-bg-deep;
}

.bottom-border {
    -fx-border-color: transparent transparent -fx-line-color transparent;
    -fx-border-width: 0 0 1px 0;
}